html {
    background-color: #ccc;
    font-family: "Monaspace Neon", monospace;
    color: #222;
}

.intro,
.videobox,
.phase {
    background-color: #eee;
    margin: auto;
    padding: 2em;
    width: 85%;
}

h1 {
    font-size: 60pt;
    margin: .1em 0 0 0;
}



p, h3 {
    font-size: 150%;
}

button, label {
    font-size: 125%;
}
input,
select {
    font-family: "Monaspace Neon", monospace;
    background-color: #eee;
    border: 1px solid #aaa;
    padding: .75em;
    border-radius: .75em;
    width: 320px;
    margin: .5em 0;
    display: block;
}

input[type=radio]{
    width: 20px;
}

small {
    display: block;
    opacity: .3;
    font-size: 10pt;
    margin: -1.2em 3.75em 3em;
}

button {
    font-family: "Monaspace Neon", monospace;
    font-weight: bold;
    border: 1px solid #444;
    background-color: #222;
    color: #fff;
    padding: 1em 1.25em;
    border-radius: 1em;
    transition: all .3s ease;
}

button:hover {
    background-color: #444;
    cursor: pointer;
}

.red {
    background-color: color(display-p3 1.0 0.1 0.1);
    border-color: color(display-p3 1.0 0.1 0.1);
}


.blue {
    background-color: color(display-p3 0.1 0.1 1.0);
    border-color: color(display-p3 0.1 0.1 1.0);
}

.yellow {
    background-color: #9C004B;
    border-color: #9C004B;
}

.red:hover {
    background-color: color(display-p3 1.0 0.3 0.3);
}

.yellow:hover {
    background-color: #cc0063;
}

.buttondiv {
    text-align: right;
}

#progressOutline {
    width: 20%;
    height: 1rem;
    border: .2rem solid #eee;
    background-color: #eee;
    border-radius: 1.2rem;
    margin: 0 auto;
}

#progressBarContainer {
    margin: .2rem;
    position: relative;
    background-color: #ccc;
    border-radius: .4rem;
}

#progressBarDivider {
    position: absolute;
    top: -.2em;
    left: calc(50% - .1rem);
    width: .4rem;
    height: 1rem;
    background-color: #eee;
}

#progressBar {
    height: .6rem;
    width: 0;
    background-color: #444;
    border-radius: .6rem;
}

.referentdiv {
    text-align: center;
}

#referent {
    width: 85%;
}

.videobox {
    display: flex;
    gap: 2em;
    text-align: center;
}

.videocont {
    position: relative;
}

video {
    max-width: 100%;
    height: auto;
}

.phase {
    text-align: center;
    margin: 6em auto 0;
    border-radius: 1em;
}

.likertitems {
    display: grid;
    grid-template-columns: 7fr repeat(7, 1fr) 7fr;
    gap: 1em;
    margin: 2em auto;
    text-align: center;
    width: 75%;
}

.likertitems input {
    margin: 0 auto;
}

.size-animated {
    padding: .3rem;
    animation-name: size;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes size {
    0% {
        opacity: 100%
    }

    50% {
        opacity: 30%
    }

    100% {
        opacity: 100%
    }
}

.circle {
    display: inline-block;
    border-radius: 50%;
    width: .5rem;
    height: .5rem;
    margin: auto .5rem;
}

.recindicator {
    position: absolute;
    display: inline-flex;
    align-items: center;
    z-index: 3;
    top: 1rem;
    left: 1rem;
}

.recindicator label {
    margin: 0 .5rem;
    padding: .125rem .25rem .1rem;
    border-radius: .2rem;
    background-color: white;
}

#countdown {
    margin: 5em auto;
    text-align: center;
}